
.portfolio-container {
    margin-top: 70px;

    &::before {
        content: '';
        position: absolute;
        left: 50%; transform: translateX(-50%);
        width: 50px; height: 2px;
        background: #d85a56;
    }

    &::after {
        content: '';
        position: absolute;
        left: 50%; transform: translateX(-50%);
        width: 50px; height: 2px;
        background: #d85a56;
    }

    .page-title {
        text-align: center;
        margin: 15px 0;
    }
    
    .portfolio {
        margin: 15px auto;
        display: flex;
        flex-direction: column;
        width: 60%;

        .post-link {
            width: 100%;
            text-decoration: none;
            border-bottom: 1px solid #e9e9e9;

            &:last-child {
                border: none;
            }

            .post-card {
                position: relative;
                padding: 15px 0;
                display: flex;
                flex-direction: row;
                
                .post-card-img {
                    padding: 0;
                    width: 25%; height: 30vh;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    transition: all .25s ease;
                }

                div {
                    width: 75%;
                    padding: 0 20px;

                    .post-card-title {
                        margin: 10px 0;
                        color: #000;
                        font-size: 1.5em;
                        font-family: 'Merriweather', serif;
                    }

                    .post-card-secondary-title {
                        margin: 10px 0;
                        color: #d85a56;
                        text-transform: uppercase;
                    }

                    .post-card-date {
                        padding: 0;
                        display: flex;
                        font-size: 14px; font-weight: 500;
                        color: #868686;

                        p {
                            margin-left: 10px;
                        }
            
                    }

                    .post-card-content {
                        margin: 10px 0; padding: 0;
                        width: 100%;
                        font-size: 0.8em;
                        color: #000;

                        p {
                            display: none;

                            &:first-child {
                                display: block;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                }

                &:hover {
                    .post-card-img {
                        transform: scale(0.975);
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .portfolio-container {
        .portfolio {
            width: 90%;

            .post-link {
                .post-card {
                    flex-direction: column;

                    .post-card-img {
                        width: 100%;
                    }

                    .wrapper {
                        padding: 0;
                        width: 100%;
                    }
                }
            }
        }
    }
}