* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-items {
    position: fixed;
    top: 0; right: -30%;
    width: 30%; height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s;
}
.menu-items > ul {
    position: absolute;
    top: 50%; right: 0;
    transform: translateY(-50%);
    margin-right: 30px;
    list-style: none;
    text-align: right;
}
.menu-items > ul > li {
    margin: 25px 20px;
    font-size: 24px;
}
.menu-items > ul > li > a {
    position: relative;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}
.menu-items > ul > li > a:hover {
    color: #fff;
}
.menu-items > ul > li > a::before {
    content: '';
    position: absolute;
    right: 0; bottom: 0;
    width: 0; height: 2px;
    background: #000;
    transition: .3s;
}
.menu-items > ul > li > a:hover::before {
    width: 100%;
    background: #fff;
}
.menu-items.active {
    right: 0;
}

.menu-icon {
    position: relative;
    width: 25px;
    z-index: 1;
}
.menu-icon > .line {
    margin: 4px 0;
    display: block;
    width: 25px; height: 3px;
    background: #000;
    border-radius: 10px;
    transition: .3s;
}
.menu-icon > .line:nth-child(2) {
    margin-left: 10px;
    width: 15px;
}

.menu-icon:hover > .line:nth-child(2) {
    margin-left: 0;
    width: 25px;
}

.menu-icon.active > .line:nth-child(1) {
    margin-left: 5px; margin-top: 7px;
    width: 20px;
    transform: rotate(-45deg);
}
.menu-icon.active > .line:nth-child(2) {
    margin-left: 5px; margin-top: -7px;
    width: 20px;
    transform: rotate(45deg);
}